

header{
    width: 100%;
    height: 90px;
    background-color: white;
    box-shadow: 0px 2px #999;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}

.logo{
    width: 232px;
    margin-left: 50px;
    margin-top: 20px;
    cursor: pointer;
}

.nav-menu{
    display: flex;             
    float: right;
    margin-top: 40px;
    margin-right: 50px;
}

.nav-menu a{
    margin-right: 10px;
    text-decoration: none;
    color: #777;
    font-family: 'Roboto', sans-serif;
}

.nav-menu a:hover{
    color: black;
    text-decoration: none;
}

.carousel{
    margin-top: 90px;
}

.banner-text{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FDFDFD;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 30px;
}

.banner-button{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FDFDFD;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 30px;
}

.banner-text-below{
    width: 70%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    color: #777;

}

.inter{
    color: #EA7405;
}

.bissnet{
    color: black;
}

.sectores h1 {
    color: #EA7405;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
}